@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@font-face {
  font-family: 'P22UndergroundPro-Heavy';
  src: url(P22UndergroundPro-Heavy.eot);
  src: local('☺︎'),
    font-url('P22UndergroundPro-Heavy.woff') format("woff"),
    font-url('P22UndergroundPro-Heavy.otf') format("opentype"),
    font-url('P22UndergroundPro-Heavy.svg#P22UndergroundPro') format("svg");
}

@font-face {
  font-family: 'P22UndergroundPro-Light';
  src: url(P22UndergroundPro-Light.eot);
  src: local('☺︎'),
    font-url('P22UndergroundPro-Light.woff') format("woff"),
    font-url('P22UndergroundPro-Light.otf') format("opentype"),
    font-url('P22UndergroundPro-Light.svg#P22UndergroundPro') format("svg");
}

@font-face {
  font-family: 'P22UndergroundPro-Demi';
  src: url(P22UndergroundPro-Demi.eot);
  src: local('☺︎'),
    font-url('P22UndergroundPro-Demi.woff') format("woff"),
    font-url('P22UndergroundPro-Demi.otf') format("opentype"),
    font-url('P22UndergroundPro-Demi.svg#P22UndergroundPro') format("svg");
}

$black: #212121;
$white: #F5F5F5;
$lightgrey: #BDBDBD;
$darkgrey: #616161;
$medgrey: #9E9E9E;
$darkermedgrey: #757575;
$green: #4CAF50;

//reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//end

.group:after {
  content: "";
  display: block;
  clear: both;
}

html, body {
  height: 100%;
}

#root, #root > div {
    height: 100%;
}

a:link {
  text-decoration: none;
}

@mixin create-buttons($bg, $color) {
  font-family: 'P22UndergroundPro-Demi';
  font-size: 14px;
  background-color: $bg;
  color: $color;
  padding: 7px 12px;
  letter-spacing: 3px;
  cursor: pointer;
}

//splash page
.splash {
  text-align: center;
  padding: 0 40px;
  background-image: url("https://oceanus.feralhosting.com/bx1th0j/assets/splash/splash_landing.jpg");
  background-position: 50% 65%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  min-width: 790px;
  min-height: 655px;

  .logo {
    font-family: 'P22UndergroundPro-Heavy';
    font-size: 20px;
    color: $black;
    letter-spacing: 2px;
    margin-top: -4px;
  }

  nav {
    margin-top: 20px;

    ul.options {
      list-style-type: none;
      padding-left: 0;
      font: 13px 'P22UndergroundPro-Heavy';
      text-transform: uppercase;
      letter-spacing: 1.25px;

      li {
        display: inline-block;
        color: $black;
        margin: 0 0 0 30px;
        cursor: pointer;
        -webkit-transition: color 200ms; /* Safari */
        transition: color 200ms;
        transition-timing-function: linear;

        a:link, a:visited, a:active {
          -webkit-transition: color 200ms; /* Safari */
          transition: color 200ms;
          transition-timing-function: linear;
          color: #333;
        }
        a:hover {
          color: $lightgrey;
        }
        &.current {
          border-bottom: 2px solid #e6e6e6;
          padding-bottom: 4px;
        }
        &:hover {
          color: $lightgrey;
        }
      }

      li input.guest-login-button {
        border: 0;
        background: transparent;
        text-transform: uppercase;
        letter-spacing: 1.25px;

        &:focus{
          outline: 0;
        }
      }
    }
  }
  .landing-title {
    font: 40px 'P22UndergroundPro-Heavy';
    color: $black;
    letter-spacing: 1px;
    margin-top: 70px;
  }
  .landing-subtitle {
    font: 15px 'Adobe-Garamond-Pro', 'Garamond', 'Georgia', serif;
    color: $black;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .get-started-guest {
    display: inline-block;
    .guest-login-button {
      @include create-buttons($green, $white);
      text-align: center;
      line-height: 14px;
      letter-spacing: 2px;
      padding: 14px 50px 12px 50px;
      text-transform: uppercase;
      display: inline-block;
      margin: 15px 0 15px 0;
      border: 0;
      -webkit-transition: background 200ms; /* Safari */
      transition: background 200ms;
      transition-timing-function: linear;
      &:hover {
        background: $lightgrey;
      }
    }
  }
  .check-out-demo {
    font: 12px 'ProximaNova-Regular';
    line-height: 17px;
    color: #999;
  }

}


.design-examples {
  min-width: 600px;
  min-height: 655px;
  width: 100%;
  position: absolute;
  text-align: center;
  overflow-y: hidden;


  .designed-to-impress {
    margin-top: 50px;
    font: 24px 'ProximaNova-Bold';
    line-height: 26px;
    letter-spacing: 2px;
    color: #111;
    text-transform: uppercase;
  }

  .design-tagline {
    font: 17px 'Adobe-Garamond-Pro', 'Garamond', 'Georgia', serif;
    line-height: 24px;
    color: #555;
    margin-top: 10px;
  }

  div.desktop-options {
    display: block;
    padding: 10px 0;
    list-style-type: none;
    color: $green;
    width: 45%;
    margin: 30px auto;
    font: 12px 'ProximaNova-Regular';
    text-transform: uppercase;
    letter-spacing: 1px;
    min-width: 450px;

    div {
      float: left;
      border-right: 1px solid #1abc9c;
      border: 1px solid #1abc9c;
      padding: 12px 0 11px 0;
      margin-left: -1px;
      width: 33.3333%;
      cursor: pointer;

      &.selected {
        background: $green;
        color: #fff;
      }
    }
  }

  .desktop {
    min-width: 600px;
    width: 52%;
    position: relative;
    margin: auto auto;
    img.computer {
      max-width: 100%;
    }
    img.desktop-screen {
      position: absolute;
      top: 0px;
      left: 0px;
      max-width: 100%;
      padding: 5% 4%;
      margin: auto auto;
    }
  }
}

.example-albums {
  background: #fff;
  min-width: 790px;
  min-height: 655px;
  width: 100%;
  position: absolute;
  text-align: center;
  padding: 0;

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -264px;
  }
  .users {
    padding: 0 30px;
  }

}

.bottom-info {
  min-width: 790px;
  min-height: 655px;
  width: 100%;
  position: absolute;
  text-align: center;
  padding: 0;
  .create-first {
    height: 65%;
    background: #F3F3F3;
    width: 100%;
    .top {
      position: absolute;
      top: Calc((100% - 250px) / 2);
      margin-top: -70px;
      text-align: center;
      width: 100%;

      .header {
        font: 32px 'ProximaNova-Bold';
        color: #111;
        letter-spacing: 2px;
        line-height: 35px;
        margin-bottom: 10px;
      }
      .free {
        font: 27px 'Adobe-Garamond-Pro', 'Garamond', 'Georgia', serif;
        color: #555;
        line-height: 38px;
        .underline {
          border-bottom: 2px solid $green;
          padding-bottom: 3px;
        }
      }
      .get-started-guest {
        display: inline-block;
        .guest-login-button {
          @include create-buttons($green, #fff);
          padding: 10px 50px;
          text-transform: uppercase;
          display: inline-block;
          margin: 15px 0 7px 0;
          border: 0;
          -webkit-transition: background 200ms; /* Safari */
          transition: background 200ms;
          transition-timing-function: linear;
          &:hover {
            background: $darkgrey;
          }
        }
      }
    }
  }
  .info {
    background: #222;
    height: 244px;
    width: 100%;

    a:link, a:active, a:visited {
      color: $green;
    }

    .information {
      color: #fff;
      line-height: 28px;
      padding: 50px 100px;
      min-width: 790px;
      .github-link {
        padding-top: 20px;
        font-size: 40px;
        & a {
          color: #ddd;
          -webkit-transition: color 200ms; /* Safari */
          transition: color 200ms;
          transition-timing-function: linear;
        }
        & a:hover {
          color: $green;
        }
      }
    }
  }
}
//end splash


.splash-navbar {
  width: 100%;
  min-width: 790px;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 44px;
  border-bottom: 1px solid #eaebec;
  padding: 0 0 0 20px;
  background-color: #fff;

  nav {
    position: relative;
    top: 7px;

    img {
      margin-top: 7px;
    }

    ul.options {
      list-style-type: none;
      padding: 0;
      font: 12px 'P22UndergroundPro-Heavy';
      text-transform: uppercase;
      letter-spacing: 1px;


      li {
        display: inline-block;
        color: #888;
        margin-right: 30px;
        cursor: pointer;
        a:link, a:active, a:visited {
          color: #888;
        }
        &:hover, &.current, a:hover {
          color: #333;
        }

      }

      .get-started {
        @include create-buttons($darkgrey, #fff);
        font-size: 12px;
        border: 0;
        text-transform: uppercase;
        padding: 8px 24px;
        &:hover {
          background: $lightgrey;
        }
      }
    }
  }
}
//end splash nav

//signup and login
.signup-page, .login-page {
  text-align: center;
  padding: 0 40px;
  // background-image: url("https://oceanus.feralhosting.com/bx1th0j/background1.jpg");
  // background-image: url("https://hd.unsplash.com/photo-1463778996521-da8b6f00dacf");
  background-image: url("https://hd.unsplash.com/photo-1472469214909-13c93287b522");
  background-position: 50% 65%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  min-width: 790px;
  min-height: 655px;
}

.signup-form-container, .login-form-container {
  margin-top: 125px;
  padding: 10px;
}

#login-form-username, #login-form-password, #signup-form-username, #signup-form-email, #signup-form-password {
  height: 65px;
  margin: 20px 0px;
  font-family: 'P22UndergroundPro-Light';
}

.form-control {
  font-size: 24px;
  line-height: 25px;
  border-radius: 0;
  border: 1px solid #eee;
  margin: 10px 0;
  padding: 30px 20px;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

input.form-control {
  &:focus {
    border: 1px solid #bbb;
  }
}
input {
  font-family: 'P22UndergroundPro-Heavy';
}

.form-control::-webkit-input-placeholder { color: $lightgrey; }
.form-control:-moz-placeholder { color: $lightgrey; }
.form-control::-moz-placeholder { color: $lightgrey; }
.form-control:-ms-input-placeholder { color: $lightgrey; }



.login-form-container, .signup-form-container, .recovery-page {

  .signup-form-box {

  }

  .login-form-title, .signup-form-title {
    font-family: 'P22UndergroundPro-Heavy';
    color: $black;
    font-size: 42px;
    text-shadow: 0px 1px 1px $lightgrey;
    text-align: center;
    letter-spacing: 4px;
    cursor: pointer;
  }

  .logo {
    margin-bottom: 30px;
  }
  .notice {
    font: 11px 'P22UndergroundPro-Demi';
    color: $lightgrey;
    position: relative;
    top: -10px;
    text-align: center;
  }
  .errors {
    font: 11px 'P22UndergroundPro-Demi';
    color: $black;
    position: relative;
    top: 4px;
    text-align: center;
  }
  .submit-user, .login-user {
    padding: 12px 40px 10px 40px;
    line-height: 14px;
    border: 0;
    text-transform: uppercase;
    color: $white;
    font-size: 14px;
    background: $green;
    &:hover {
      background: $lightgrey;
    }
  }
  .login-user {
    padding: 10px 67px;
  }

  input {
    border-radius: 0px;
    font: 24px 'P22UndergroundPro-Demi';

    .submit-user, .login-user {
      font: 14px 'P22UndergroundPro-Demi';
      letter-spacing: 1px;
    }
  }

    input.submit-user, input.login-user {
      font: 14px 'P22UndergroundPro-Demi';
      letter-spacing: 1px;
    }
}
.sign-up-page {
  margin-top: 100px;
  text-align: center;

  .sign-up-free {
    font-size: 14px;
    color: #666;
    margin-bottom: 18px;
    b {
      color: #333;
    }
  }

  .submit-user {
    margin-top: 20px;
  }
  .guest-login-button {
    @include create-buttons(#e8e8e8, black);
    padding: 10px 40px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 7px 0;
    border: 0;
    -webkit-transition: opacity 200ms; /* Safari */
    transition: opacity 200ms;
    transition-timing-function: linear;
    &:hover {
      opacity: 0.5;
    }
  }
}

//storyboard and storynew nav
.storyboard-nav {
  background: #fafafa;
  border-radius: 0;
  height: 50px;
  border-bottom: 1px solid #eeeeee;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 0 0 20px;
  min-width: 750px;
  width: 100%;
  z-index: 1;

  nav {
      position: relative;
      top: 7px;

      img {
        margin-top: 7px;
      }

      ul.options {
        list-style-type: none;
        padding: 0;
        margin-top: 12px;
        font: 12px 'P22UndergroundPro-Demi';
        text-transform: uppercase;
        letter-spacing: 1px;


        li {
          display: inline-block;
          color: #888;
          margin-right: 30px;
          cursor: pointer;
          a:link, a:active, a:visited {
            color: #888;
          }
          &:hover, &.current, a:hover {
            color: #333;
          }

        }
      }

  .user-buttons {
    font: 13px 'P22UndergroundPro-Demi';
    position: absolute;
    top: 25px;
    right: 50px;
    padding: 25px 20px 19px 20px;
    margin-top: -25px;
    cursor: pointer;
    -webkit-transition: opacity 200ms, background 100ms;
    transition: opacity 200ms, background 100ms;
    transition-timing-function: linear;
    &:hover {
      opacity: 0.5;
    }

    .user-carat {
      margin-left: 10px;
    }
  }

  .logout-form {
    display: none;
  }

  }

  .selected-nav-option {
    // background: rgba(0, 0, 0, 0.03);
    &:hover {
      opacity: 1;
    }
  }
}

//edit profile
button.close-view {
  color: #888;
  background: #fff;
  border: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  font: 28px 'Arial';
  outline: none;
  &:hover {
    color: $green;
  }
}

.title {
  font: 20px 'P22UndergroundPro-Heavy';
  text-align: center;
  margin-bottom: 20px;
}

.form-control {
  font: 15px 'Adobe-Garamond-Pro', 'Garamond', 'Georgia', serif;
  color: #555555;
  padding: 22px 17px;
}

label {
  font: 16px 'P22UndergroundPro-Demi';
  margin-bottom: 0;
  padding-top: 15px;
}

.input-info {
  font: 15px 'Adobe-Garamond-Pro', 'Garamond', 'Georgia', serif;
  color: #999;
}

.submit-button, .cancel-button, .delete-button {
  border: 0;
  color: white;
  font-family: 'P22UndergroundPro-Demi';
  font-size: 14px;
  padding: 8px 16px;
  letter-spacing: 1px;
  line-height: 19px;
  float: left;
  margin-top: 20px;
  -webkit-transition: background 200ms; /* Safari */
  transition: background 200ms;
  transition-timing-function: linear;
}
.submit-button {
  margin-right: 3px;
  background-color: $green;
  &:hover {
    background-color: $lightgrey;
  }
}



.save-cancel {
  float: right;
}
.center-buttons {
  button {
    float: none;
  }
}

.cancel-button {
  background-color: #e8e8e8;
  color: black;
  &:hover {
    background-color: #d8d8d8;
  }
}

.delete-button {
  margin-right: 3px;
  background-color: $green;
  &:hover {
    background-color: $lightgrey;
  }
}


.form-container.user-form {
  input {
    margin-bottom: 5px;
  }
  label {
    margin-top: 15px;
  }
}

.profile-photo {
  font: 16px 'P22UndergroundPro-Demi';
  margin-bottom: 0;
  padding-top: 15px;
  text-align: center;

  .avatar-container {
    position: relative;
    display: flex;
    justify-content: center;

    .user-avatar {
      width: 75px;
      height: 75px;
      border-radius: 5px;
      overflow: hidden;
      img {
        width: 75px;
      }

      .user-avatar-plus {
        display: none;
        background: rgba(0, 0, 0, 0.05);
        border: 1px solid $white;
        position: absolute;
        margin: 11px 0px;
        top: -10px;
        left: 242px;
        width: 75px;
        height: 75px;
        border-radius: 5px;
        text-align: center;
        padding-top: 25px;
        color: #aaa;
      }

      &:hover .user-avatar-plus {
        display: block;
        background: rgba(0, 0, 0, 0.5);
        color: $green;
      }
    }
  }
}

//end


//new story nav
.storynew-nav {
background: #fafafa;
border-radius: 0;
height: 50px;
border-bottom: 1px solid #eeeeee;
position: fixed;
top: 0;
left: 0;
padding: 0 0 0 20px;
min-width: 750px;
width: 100%;
z-index: 1;

nav {
    position: relative;
    top: 7px;

    img {
      margin-top: 7px;
    }

    .story-save-form-control {
      font: 12px 'P22UndergroundPro-Demi';
      line-height: 14px;
      outline: none;
      border: none;
      letter-spacing: 1px;
      background-color: transparent;
      text-transform: uppercase;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
    }

    ul.options {
      list-style-type: none;
      padding: 0;
      margin-top: 12px;
      font: 12px 'P22UndergroundPro-Demi';
      text-transform: uppercase;
      letter-spacing: 1px;

      li {
        display: inline-block;
        color: #888;
        margin-right: 30px;
        cursor: pointer;
        a:link, a:active, a:visited {
          color: #888;
        }
        &:hover, &.current, a:hover {
          color: #333;
        }
      }
    }
  }
}

//new and show story page

.text-area-remove {
  border: 0;
  color: $white;
  font-family: 'P22UndergroundPro-Demi';
  font-size: 14px;
  padding: 8px 16px;
  letter-spacing: 1px;
  line-height: 19px;
  margin-bottom: 20px;
  text-transform: uppercase;
  -webkit-transition: background 200ms; /* Safari */
  transition: background 200ms;
  transition-timing-function: linear;
  background-color: $black;
}

.photo-item-remove {
  border: 0;
  color: $white;
  font-family: 'P22UndergroundPro-Demi';
  font-size: 14px;
  padding: 8px 16px;
  letter-spacing: 1px;
  line-height: 19px;
  margin-bottom: 20px;
  text-transform: uppercase;
  -webkit-transition: background 200ms; /* Safari */
  transition: background 200ms;
  transition-timing-function: linear;
  background-color: $black;
}

.story-photo-item {
  position: relative;
}
.story-photo-item .photo-item-remove {
  display: none;
}

.story-photo-item:hover .photo-item-remove {
  display: block;
  position: absolute;
  bottom: 12%;
  margin: auto;
  width: 96px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.story-form {
  height: 100%;
  width: 100%;
}

.cover-image {
  background: #565656;
  position: relative;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;

    img {
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
}

.cover-image:before {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 2%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.38) 75%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(2%,rgba(0,0,0,0)), color-stop(40%,rgba(0,0,0,0)), color-stop(75%,rgba(0,0,0,0.38)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 2%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.38) 75%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 2%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.38) 75%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 2%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.38) 75%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 2%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.38) 75%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}
.cover-image:after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width:100%;
  background: rgba(0,0,0,0.15);
}
.details {
  position: absolute;
  top: 50%;
  margin-top: -100px;
  width: 100%;
  z-index: 1;
  text-align: center;

  #story-cover-photo {
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 5px;
    font: 32px 'P22UndergroundPro-Demi';
    color: $white;
    margin-bottom: 40px;
    background: transparent;
    border: none;
  }
  #story-title {
    border: none;
    background-color: transparent;
    outline: none;
    text-align: center;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 5px;
    font: 78px 'P22UndergroundPro-Demi';
    color: $white;
  }

  #story-description {
    font: 18px 'Adobe-Garamond-Pro', 'Garamond', 'Georgia', serif;
    color: $white;
    border: none;
    background-color: transparent;
    outline: none;
    width: 60%;
    text-align: center;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }

  .story-show-title {
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 5px;
    font: 78px 'P22UndergroundPro-Demi';
    color: $white;
    cursor: default;
  }

  .story-show-description {
    font: 18px 'Adobe-Garamond-Pro', 'Garamond', 'Georgia', serif;
    color: $white;
    line-height: 26px;
    cursor: default;
  }
}

#story-text-form-title {
  text-align: center;
  border: none;
  font: 45px 'P22UndergroundPro-Demi';
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-top: 35px;
  line-height: 50px;
  padding: 3% 10%;
  word-wrap: break-word;
}

#story-text-form-body {
  text-align: center;
  border: none;
  font: 16px 'Adobe-Garamond-Pro', 'Garamond', 'Georgia', serif;
  padding-bottom: 35px;
  padding-top: 35px;
  line-height: 26px;
  padding: 3% 10%;
  word-wrap: break-word;
  height: auto;
}

.story-elements {
  // display: flex;
  // flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 100px;
  text-align: center;

  .text-area-body {
    display: inline-block;
    width: 100%;
    font: 16px 'Adobe-Garamond-Pro', 'Garamond', 'Georgia', serif;
    padding-bottom: 35px;
    padding-top: 35px;
    line-height: 26px;
    padding: 3% 10%;
    word-wrap: break-word;
    cursor: default;
  }

  .text-area-title {
    display: inline-block;
    width: 100%;
    font: 45px 'P22UndergroundPro-Demi';
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 35px;
    line-height: 50px;
    padding: 3% 10%;
    word-wrap: break-word;
    cursor: default;
  }
}

[id="2"] {
  display: inline-block;
  padding: 0px 10px;

  img {
    object-fit: cover;
    width: 500px;
    height: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
}

[id="3"] {
  display: inline-block;
  padding: 0px 10px;

  img {
    object-fit: cover;
    width: 325px;
    height: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
}

[id="4"] {
  display: inline-block;
  padding: 0px 10px;

  img {
    object-fit: cover;
    width: 300px;
    height: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
}

.story-parts {
  margin-top: 50px;
  position: relative;
  width: 100%;
  background-size: cover;
  color: #fff;
  text-align: center;

  .details {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    width: 100%;
    z-index: 1;

    .album-title {
      font: 45px 'ProximaNova-Semibold';
      line-height: 90px;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
    .album-event-date {
      font: 18px 'Times New Roman';
      font-style: italic;
    }
  }

  .user-avatar {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    bottom: 51px;
    left: 50%;
    margin-left: -23px;
    img {
      width: 100%;
    }
  }
}

//add elements
.add-elements {
  position: fixed;
  bottom: 100px;
  background: $white;
  border-radius: 0;
  height: 50px;
  padding: 0 150px;
  min-width: 750px;
  width: 100%;
  z-index: 1;

  .add-elements:after {
  content: "";
  display: block;
  clear: both;
}

.add-elements:before {
content: "";
display: block;
clear: both;
}

  nav {
      position: relative;

      ul.options {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        margin-top: 12px;
        font: 12px 'P22UndergroundPro-Demi';
        text-transform: uppercase;
        letter-spacing: 1px;

        li {
          display: inline-block;
          color: #888;
          margin-right: 30px;
          cursor: pointer;
          a:link, a:active, a:visited {
            color: #888;
          }
          &:hover, &.current, a:hover {
            color: #333;
          }
        }
      }
    }

}

//storyboard
.storyboard-container {
  margin-top: 50px;
  width: 100%;
  height: 100%;

  .profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
    z-index: 1;

    .profile-avatar {
      padding: 50px 0px 30px 0px ;

      img {
        opacity: 1;
        max-resolution: 50px;
        object-fit: cover;
        width: 150px;
        height: 150px;
        box-shadow: none;
        transition: none;
      }
    }

    .profile-title {
      font: 60px 'P22UndergroundPro-Heavy';
      line-height: 90px;
      text-transform: uppercase;
      letter-spacing: 6px;
    }

    .profile-description {
      font: 15px 'Adobe-Garamond-Pro', 'Garamond', 'Georgia', serif;
      padding-bottom: 20px;
    }

    .profile-line {
      width: 68%;
      margin-top: 10px;
      margin-bottom: 20px;
      float: center;
      border: 0;
      height: 1px;
      background-image: -webkit-linear-gradient(left, $white, $black, $white);
      background-image: -moz-linear-gradient(left, $white, $black, $white);
      background-image: -ms-linear-gradient(left, $white, $black, $white);
      background-image: -o-linear-gradient(left, $white, $black, $white);
    }
  }

  .stories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 75px;
    max-width: 1200px;
    margin: auto;
  }

  .photo {
    margin: 10px 15px;
    position: relative;
    height: 300px;
    background: -moz-linear-gradient(top, #222222 0%, #111111 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#111111));
    background: -webkit-linear-gradient(top, #222222 0%,#111111 100%);
    background: -o-linear-gradient(top, #222222 0%,#111111 100%);
    background: -ms-linear-gradient(top, #222222 0%,#111111 100%);
    background: linear-gradient(to bottom, #222222 0%,#111111 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#111111',GradientType=0 );

    .photo-title {
      position: absolute;
      bottom: 12%;
      margin: auto;
      width: 250px;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      text-transform: uppercase;
      overflow: hidden;
      letter-spacing: 3px;
      font: 22px 'P22UndergroundPro-Demi';
      color: $white;
      cursor: pointer;
    }
  }

  img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    opacity: .6;
  }

  img:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    opacity: .9;
  }


  .user-avatar {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    bottom: 51px;
    left: 50%;
    margin-left: -23px;
    img {
      width: 100%;
    }
  }
}
